h1 {
background-image: url('..img/img.jpg');
background-size: 50% 50%;
background-repeat:no-repeat;
background-position: left-bottom;
border: 2Px dotted lightgreen;
width:25%;
height: 400 px;
margin: 100px 50px 10px 10px;
padding:50px;
}
 #second-para {
 color:blue;
 background:color:red;
 }
 .first-class {
 color: green;
 }
