<html>
<head>
<title> Html Document </title>
<style>
 h1
 {
  background-color: lightgreen; 
 }
 #second-para {
 color:blue;
 background-color: red;
 }
 .first-class
 {
 color: green;
 }
 </style>
 </head>
 <body>
 <h1 class=" first-class" > THe heading </h1>
 <p>This is a paragraph</p>
 <p id="second-para">The second Paragraph </p>
 <ul class="first-class">
 <li>One </li>
 <li>Two </li>
 <li>Three </li>
 </ul>
 </body>
 </html>
 
 
 
 
